.container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(500px,auto)); */
    gap: 1.2em;
    grid-template-areas: 
        "navigation  navigation  navigation  navigation"
        "item_1      item_1      item_1      item_2"
        "footr       footr       footr       footr";
}

.item{
    background-color: paleturquoise;
    border: 5px solid palegreen;
    border-radius: 5px;
}

#navigation_bar{
    grid-area: navigation;
}


#item_1{
    grid-area: item_1;
}

#item_2{
    grid-area: item_2;
}

footer{
    grid-area: footr;
}

