:root{
    background-color: coral;
    
}

form{
    width: 39%;
    margin:9rem auto;
    border: 2px solid black;
    background-color: burlywood;
   
}

div{
    width: 38%;
    height: 2.01rem;
    margin: 0.9rem auto;
    text-align: center;
   
}

button{
    width: 100%;
    height:2rem;
    background-color: crimson;
    color:white;
    font-family: cursive;
    border-radius: 7px;
}

